$html-font-family:'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
$heading-font-family:'Cardo', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
$bg-header-border-bottom-border-color:#89C0C9;
$bg-header-border-bottom-top-color:#3a5E63;
$bg-header-background-color:#fff;
$col-2-border-left:#3a5E63;
$header-border-color:#d4d4d4;
$header-nav-ul-li-a-border-left-color:#d4d4d4;
$header-nav-ul-li-a-last-child:#d4d4d4;
$bg-header-background-color1:#C7F7FF;
$bg-header-text-color: #222;
$bg-header-after-color:#3a5E63;
$bg-backgroundcolor-focal: #C9A689;
$bg-textcolor-focal: #7C593C;
$bg-content1-backgroundcolor: #fff;
$bg-content1-textcolor: #222;
$bg-content2-backgroundcolor:#C7F7FF;
$bg-content2-textcolor: #3a5E63;
$bg-footer-backgroundcolor:#fff;
$bg-footer-textcolor:#d4d4d4;
$header-nav-ul-li-a-textcolor: #222;
$header-nav-ul-li-a-backgroundcolor: #fff;
$header-nav-ul-li-a-hover-textcolor: #7C593C;
$header-h1-textcolor: #7C593C;
$header-h1-i-fa-lg:#C9A689;
$footer-h4-textcolor:#7C593C;
$footer-p-textcolor:#222;
$footer-fa-circle-textcolor:#222;
$media1-header-nav-ul-li-a-border-color:#d4d4d4;
$media1-header-h1-textcolor:#7C593C;
$media1-header-h1-i-fa-lg-textcolor:#7C593C;
$media1-header-nav-ul-li-a-backgroundcolor:#fff;
$media1-footer-fa-circle-textcolor:#89C0C9;
$media2-header-h1:#3a5E63;
$media2-header-h1-i-fa-lg-textcolor:#3a5E63;
$media2-header-nav-ul-li-backgroundcolor:#fff;
$media2-nav-ul-li-a-backgroundcolor:#fff;
$media2-footer-fa-circle-textcolor:#C9A689;
$media3-header-nav-ul-li-a-bordercolor:#d4d4d4;
$media3-header-h1-textcolor:#7C593C;
$media3-h1-i-fa-lg-textcolor:#7C593C;
$media3-header-nav-ul-li-backgroundcolor:#fff;
$media3-nav-ul-li-a-backgroundcolor:#fff;
$media3-footer-p-last-child-textcolor:#d4d4d4;
$media3-footer-fa-circle-textcolor:#89C0C9;
$minwidth1:701px;
$maxwidth1:900px;
$minwidth2:901px;
$maxwidth2:1400px;